html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #F7F2EF;
}

/* Below is for the toggle button */
.nav-button {
    position: fixed;
    display: block;

    right: 10px;
    top: 27px;

    width: 48px;
    height: 48px;

    cursor: pointer;
    z-index: 10;
}

.nav-button span {
    display: block;
    width: 20px;
    height: 2px;
    background: #A93200;
    border-radius: 2px;
}

.nav-button span:nth-of-type(1) {
    margin-top: 16px; 

}

.nav-button span:nth-of-type(2) {
    margin-top: 4px; 

}

.nav-button span:nth-of-type(3) {
    margin-top: 4px; 

}

/* Below is for when the toggle button is clicked/activated */
.nav-button.active {
    -webkit-transform: rotate(45deg);
        -moz-tranform: rotate(45deg);
            transform: rotate(45deg);
    margin: 9px 4px 0 0;
}

.nav-button.active span {
    background: #F7F2EF;
    transition: transform 0.2s ease;
}

.nav-button.active span:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(180deg);
        -moz-tranform: translateY(6px) rotate(180deg);
            transform: translateY(6px) rotate(180deg);        
    background: #F7F2EF;
}

.nav-button.active span:nth-child(2) {
    opacity: 0;
}

.nav-button.active span:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(90deg);
        -moz-tranform: translateY(-6px) rotate(90deg);
            transform: translateY(-6px) rotate(90deg);
    background: #F7F2EF;
}

/* Below is for the overlay */
.overlay-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 0%;
    
    background-color: #A93200;
    visibility: hidden;
    opacity: 0; 
}

.overlay-container nav {
    position: relative;
    height: 70%;
    top: 50%;
    text-align: center;

    -webkit-transform: translateY(-45%);
       -moz-transform: translateY(-45%);
            transform: translateY(-45%);
}

.overlay-container ul {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay-container ul li {
    position: relative;
    list-style: none;
    opacity: 0;

    height: 25%;
    min-height: 50px;
}

.overlay-nav ul li a {
    text-decoration: none;
    font: 300 18px 'Overpass', sans-serif;
    color: #A93200;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Below is for when the overlay container is opened */
.overlay-container.open {
    height: 100%;
    z-index: 3;
    opacity: 1;
    visibility: visible;
}

.overlay-container.open li{
    -webkit-animation: fadeInLeft .5s ease forwards;
       -moz-animation: fadeInLeft .5s ease forwards;
            animation: fadeInLeft .5s ease forwards;
}

.overlay-container.open li:nth-of-type(1) {
    -webkit-animation-delay: .2s;
       -moz-animation-delay: .2s;
            animation-delay: .2s;
}

.overlay-container.open li:nth-of-type(2) {
    -webkit-animation-delay: .3s;
       -moz-animation-delay: .3s;
            animation-delay: .3s;
}

.overlay-container.open li:nth-of-type(3) {
    -webkit-animation-delay: .4s;
       -moz-animation-delay: .4s;
            animation-delay: .4s;
}

/* Below will create the underline when hovered over */
.overlay-nav ul li a {
    -webkit-transform: rotate(0);
        -moz-tranform: rotate(0);
            transform: rotate(0);

    right: 0;
    top: 0;

    position: relative;
    color: #F7F2EF;
    overflow: hidden;

    display: flex;
    align-items: center; 
}

.overlay-container ul li a:hover:after, 
.overlay-container ul li a:focus:after, 
.overlay-container ul li a:active:after {
    width: 100%;
}

.overlay-container ul li a:after {
    content: '';
    position: absolute;
    background: #F7F2EF;
    transition: .35s;

    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;

    -webkit-transform: translateX(-50%);
        -moz-tranform: translateX(-50%);
            transform: translateX(-50%);
}

/* Keyframe Animations */
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        right: 5%;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        right: 5%;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

/* Below is for the header */
header {
    width: 100%;

    display: flex;
    justify-content: center;
    margin: 0 auto;
}

h1.logo {
    font: 700 30px 'Poppins', sans-serif;

    top: 12px;
    z-index: 2;
    position: fixed;
}

h1 a {
    text-decoration: none;
    color: #DA9D83;
    text-shadow: -2.5px 2px 0 #A93200;
}

/************************************* PORTFOLIO PAGE ************************************/
/* Below is for the section content */
section.portfolio-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 100px 0 80px;
}

section.portfolio-details h2 {
    font: 300 20px 'Overpass', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    color: #A93200;
    background: linear-gradient(0deg, #DA9D83 50%, transparent 50%);
}

section.portfolio-details p {
    font: 300 17px 'Overpass', sans-serif;
    color: #000;
    letter-spacing: 1px;
    margin: 0;
}

/* Below is for the main project content */
div.container {
    background-color: #FBF9F7;
    padding: 80px 0 0;
    margin: 0;
}

div.wrapper {
    width: 90%;
    margin: 0 auto;
}

main.projects {
    text-align: center;
    width: 100%;
}

main section.card {
    margin: 2%;
    width: 45%;
    position: relative;
    display: inline-block;
}

main section.card img {
    width: 100%;
    height: auto;
    display: block;
}

main section.card a.card-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;
    width: 100%;

    opacity: 0;
    text-decoration: none;
}

section.card a.card-overlay:hover {
    opacity: 1;
    transition: .4s ease;
    background-color: #EFE3DD;
  }

a.card-overlay div {
    color: #DA9D83;
    font: 700 20px 'Poppins', sans-serif;

    letter-spacing: 2px;

    position: absolute;
    text-align: center;
     
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    
}

/* Below is for the portfolio footer content */
footer.portfolio-footer {
    width: 85%;
    padding: 60px 0 20px;
    margin: 0 auto;
    text-align: center;
    color: #DA9D83;
    font: 300 16px 'Overpass', sans-serif;
    letter-spacing: 1px;
}

footer.portfolio-footer p {
    margin: 0;
    padding-top: 10px;
}

footer.portfolio-footer hr {
    height: 1px;
    background-color: #DA9D83;
    border: none;
}

/***************************** ABOUT PAGE *****************************/
/* Below is for the section content for the about page and each project page */
section.main-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 130px 0 40px;
}

section.main-details h2 {
    font: 300 20px 'Overpass', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    color: #A93200;
    background: linear-gradient(0deg, #DA9D83 50%, transparent 50%);
}

section.main-details p {
    font: 300 17px 'Overpass', sans-serif;
    color: /*rgba(169, 50, 0, 0.7);*/ #000;
    letter-spacing: 1px;
    margin: 5px 0 25px;
    width: 60%;
}

section .contact-links {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

section .contact-links a {
    font: 300 16px 'Overpass', sans-serif;
    color: rgba(169, 50, 0, 0.7);
    letter-spacing: 2px;
    margin: 0;
    text-decoration: none; 
}

section .contact-links a:hover {
    color: #A93200;
}

/* Main content */
main.about-main section {
    width: 75%;
    margin: 35px auto 0;
}

main.about-main section h3 {
    font: 300 19px 'Overpass', sans-serif; 
    color: #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 auto 10px;
}

main.about-main section p, main.about-main section ul li  {
    font: 200 16px 'Poppins', sans-serif; 
    color: #000;
}

main.about-main p {
    margin: 0;
} 

div.skills-info {
    display: flex;
    flex-direction: row;
}

div.skills-info ul {
    padding: 0;
    margin: 0;
}

div.skills-info ul li {
    list-style: none;
}

div.skills-info ul:nth-of-type(1) {
    margin-right: 100px;
}

section.extra-info div:nth-of-type(1) {
    margin-bottom: 15px;
}

section.work-exp p:nth-of-type(1), .work-exp p:nth-of-type(2) {
    margin-bottom: 7px;
} 

/************************************* EACH PROJECT PAGE ************************************/
.img-cont {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-cont img {
    margin: 2%;
    width: 85%;
}

.design-projects {
    width: 50%;
}

#indesign-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#indesign-img:hover {
    opacity: 0.9;
    transition: .4s ease;
}

/* footer - for the about page and each project page */
footer {
    width: 85%;
    margin: 60px auto 10px;
    text-align: center;
    color: #DA9D83;
    font: 300 16px 'Overpass', sans-serif;
    letter-spacing: 1px;
}

footer hr {
    height: 1px;
    background-color: #DA9D83;
    border: none;
}

/* Animation */
main section {
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 1s; 
}

main section.visible { 
    opacity: 1;
    transform: translate(0, 0);
} 

section.a {
    animation: fadeIn 1.25s .6s both;
}
  
section.b {
    animation: fadeIn 1.25s 1.25s both;
}

@-webkit-keyframes fadeIn {
    0% { 
        opacity: 0;
    }

    100% { 
        opacity: 1; 
    }
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
    }

    100% { 
        opacity: 1; 
    }
}

/* Media Queries */
@media screen and (max-width: 991px) {
    main section.card {
      margin: 2%;
      width: 90%;
    }

    main.about-main section {
        width: 85%;
        margin-top: 15px;
    }

    section.portfolio-details p {
        width: 85%;
    }
}

@media screen and (max-width: 780px) {
    section.main-details p {
        width: 85%;
    }

    section .contact-links {
        display: flex;
        flex-direction: column;
        width: 85%;
    }
}

@media screen and (max-width: 450px) {
    header {
        display: flex;
        justify-content: flex-start;
    }
    
    h1.logo {
        font-size: 25px;
        margin-left: 37px;
        position: absolute;
    }

    .nav-button {
        position: absolute;
    }

    section.portfolio-details, main div.container {
        position: static;
    }

    section.portfolio-details p {
        width: 85%;
    }
    /* 2nd */
    section.main-details p {
        width: 80%;
    }

    

    main.about-main section {
        width: 85%;
        margin: 35px auto 0;
    }

    div.skills-info ul li {
        padding-bottom: 12px;
    }
}