html {
    margin: 0;
}

body {
    margin: 0;
    background-color: #F7F2EF;
}

/* Below is for the header */
header {
    width: 100%;

    display: flex;
    justify-content: center;
    margin: 0 auto;
}

h1.logo {
    font: 700 30px 'Poppins', sans-serif;

    top: 12px;
    z-index: 2;
    position: fixed;
}

h1 a {
    text-decoration: none;
    color: #DA9D83;
    text-shadow: -2.5px 2px 0 #A93200;
}